In [4]:
def my_reduce(fn, iterable, initializer=None):
    it = iter(iterable)
    if initializer is None:
        value = next(it)
    else:
        value = initializer
    for element in it:
        value = fn(value, element)
    return value

In [5]:
def sum_(a, b): 
  return a + b

In [6]:
my_reduce(sum_,  [i for i in range(5)])

10

In [7]:
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False

In [8]:
def my_filter(fn, iterable):
    it = iter(iterable)
    value = next(it)
    s=[]
    for element in it:
        value = fn(element)
        if value==True:
            s.append(element)
    return s

In [9]:
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
filtered = my_filter(fun, sequence)
  
print('The filtered letters are:')
for s in filtered:
    print(s)

The filtered letters are:
e
e

In [20]:
in1=['x','y','z']
result1=[item*num for item in in1 for num in range(1,4)]
print(str(result1))

['x', 'xx', 'xxx', 'y', 'yy', 'yyy', 'z', 'zz', 'zzz']

In [13]:
type(in1)

str

In [21]:
in2=['x','y','z']
result2=[item*num for num in range(1,4) for item in in1 ]
print(str(result2))

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz']

In [34]:
in3 = [2,3,4]
result3 = [[item+num] for item in in3 for num in range(0,3)]
print(str(result3))

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [30]:
in3 = [2,3,4,5]
result3 = [[item+num for item in in3] for num in range(0,4)]
print(str(result3))

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [35]:
in4=(1,2,3)
result4=[(b,a) for a in in4 for b in in4]
print(str(result4))

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]